/* put css from index.css here */

.true {
  margin-left: 250px;
  width: 70%;
}

.false {
  margin-left: 70px;
  width: 90%;
}

h1.centered {
  margin: 10px 0 0 0;
  padding-bottom: 0;
}

.centered {
  margin-top: 0;
  text-align: center;
}

.pyramid {
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}
