/* put css from index.css here */

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.block strong {
  word-wrap: break-word;
  word-break: break-word;
}

.block {
  border: 3px solid black;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  margin: 5px;
  padding: 12px;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 0.5rem;
  flex-direction: column;
  position: relative;
}

svg {
  position: absolute;
}

.y2020 {
  background: #CCF5F6;
}

.y2021 {
  background: #CBE4F9;
}

.y2022 {
  background: #D6CDEA;
}

.y2023 {
  background: #EEF9DA;
}

.icon-container {
  background: black;
  height: 25px;
  width: 25px;
  top: -10px;
  left: -10px;
  position: absolute;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-border {
  border: 0;
}

.block-date {
  font-size: 0.4rem;
}

.all-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
