/* inspo https://codepen.io/andiio/pen/tFECp */

.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.control-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}